@{
    ViewData["Title"] = "İletişim";
}

<div class="container my-5">
    <h1 class="mb-4">📞 İletişim Bilgilerimiz</h1>

    <div class="row">
        <div class="col-md-6">
            <h5>🏢 Adres</h5>
            <p>
                Spor Mahallesi, Fitness Caddesi No:42<br />
                34000, İstanbul / Türkiye
            </p>

            <h5>📞 Telefon</h5>
            <p>
                <a href="tel:+902123456789">+90 (212) 345 67 89</a><br />
                <a href="tel:+905551112233">+90 (555) 111 22 33</a>
            </p>

            <h5>✉️ E-Posta</h5>
            <p>
                <a href="mailto:isilaycavus@sporkulubu.com">isilaycavus@sporkulubu.com</a>
            </p>

            <h5>🕘 Çalışma Saatleri</h5>
            <p>
                Hafta içi: 08:00 – 21:00<br />
                Cumartesi: 10:00 – 18:00<br />
                Pazar: Kapalı
            </p>
        </div>

        <div class="col-md-6">
            <h5>📍 Konum</h5>
            <div class="ratio ratio-4x3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34121.00316622955!2d29.218360873596296!3d40.89602838792688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadb1a59577605%3A0x1476fd54d726a456!2zRWt0YcWfIFNwb3IgS3Vsw7xiw7w!5e0!3m2!1str!2str!4v1750282328468!5m2!1str!2str"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</div>
